body {
  background-color: azure;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #888;
  color: white;
}

tr:hover {
  background-color: #333;
}
td:hover {
  background-color: green;
}
/* .tableOne td, th{
  border: 1px solid #ccc;
  
}

.tableTwo td, th{
  border: 1px solid #ccc;
  
} */
.tableContainer {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tableTwo tr:nth-child(even) {
  background-color: #ccc;
}

.tableTwo tr:nth-child(odd) {
  background-color: beige;
}

.tableOne tr:nth-child(even) {
  background-color: rgb(106, 106, 230);
}

.tableOne tr:nth-child(odd) {
  background-color: rgb(61, 87, 166);
}

h1 {
  text-align: center;
}
